@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modak";
  src: url("~/assets/fonts/Modak.woff") format("woff");
}

body,
html,
#__nuxt {
  @apply bg-white1 2xl:bg-yellow 2xl:h-full;
  scroll-behavior: smooth;
}
